DATABASE_URL=
AUTH_SECRET=
AUTH_URL=
APP_URL=
RESEND_API_KEY=
EMAIL_FROM=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CORS_ORIGINS=
NEXT_PUBLIC_CREATE_BASE_URL=
NEXT_PUBLIC_CREATE_HOST=
NEXT_PUBLIC_PROJECT_GROUP_ID=
NEXT_PUBLIC_CREATE_API_BASE_URL=
